main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  background-color: #eceef2;}

section {
  height: auto;
  background-color: #eceef2;
  display: flex;
  justify-content: center;
  align-items: center;
}

